
@model HomeViewModel

@{
    ViewData["Title"] = "Index";
}

<section id="filter">
        <div class="filter_container">
            <div class="filter_btns" id="filter_btns">
                <div class="categories_btn">
                    <button class="all_filters" id="all_filters" onclick="cat_drop()">CATEGORIES <i
                            class="fa-solid fa-caret-down"></i></button>
                    <div class="categories_content" id="categories_content">
                        
                        @foreach (var ct in Model.Categories)
                       {
                           <button class="filter-btn" onclick="filterSelection('@ct.Name.ToLower()')">
                            @ct.Name
                        </button>
                       }
                    </div>
                </div>
                @foreach (var ct in Model.Categories)
                       {
                           <button class="filter-btn" onclick="filterSelection('@ct.Name.ToLower()')">
                            @ct.Name
                        </button>
                       }
                <div class="filterer">
                    <button class="filterer_button" id="filterer_button">
                        FILTER <i class="fa-solid fa-caret-down"></i>
                    </button>
                    <div class="filter-content">
                        <div class="filter-content_list">
                            <div class="filter-btns">
                                <h3>Sort By</h3>
                                <button class="filter-btn">Default</button>
                                <button class="filter-btn">Popularity</button>
                                <button class="filter-btn">Newness</button>
                                <button class="filter-btn">Price:Low To High</button>
                                <button class="filter-btn">Price:High To Low</button>
                            </div>
                        </div>
                        <div class="filter-content_list">
                            <div class="filter-btns">
                                <h3>Price Range</h3>
                                <button class="filter-btn">All</button>
                                <button class="filter-btn">$0-$10</button>
                                <button class="filter-btn">$10-$20</button>
                                <button class="filter-btn">$20-$30</button>
                                <button class="filter-btn">$30-$40</button>
                                <button class="filter-btn">$40+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all_filter-items">
                    @foreach (var pr in Model.Products)
                   {
                       <div class="filter-item @pr.Category.Name.ToLower()">
                    <div class="filter-item_image">
                        <img src="@pr.Images.FirstOrDefault().Url"
                            alt="image">
                    </div>
                    <h5>@pr.Title</h5>
                    <div class="fltr_btn">
                        <button>$@pr.Price</button>
                    </div>
                </div>
                   }
            </div>
        </div>
    </section>
    <section id="valentine">
        <div class="valentine_container">
            <div class="valentine_video">
                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img.jpg" alt="image">
                <div class="play">
                    <i class="fa-solid fa-play"></i>
                </div>
            </div>
            <div class="valentine_text">
                @Html.Raw(Model.ValentineSummary.title)
                <p>@Model.ValentineSummary.description</p>
                <ul>
                    @foreach (var item in Model.ValentineSummaryList)
                   {
                       <li>@item.text</li>
                   }
                </ul>
            </div>
        </div>
    </section>
    <section id="experts">
        <div class="experts_text">
            <h3>@Model.FlowerExpertsTitle.Title</h3>
            <p>@Model.FlowerExpertsTitle.Description
            </p>
        </div>
        <div class="experts_cards">
            @foreach (var item in Model.FlowerExpertsCards)
           {
               <div class="experts_cards-item">
                <img src="@item.url"
                    alt="image">
                <h5>@item.Name</h5>
                <p>@item.position</p>
            </div>
           }
        </div>
    </section>
    <section id="join">
        <div class="join_summary">
            <h3>
                Join The Colorful Bunch!
            </h3>
            <div class="join_input">
                <input type="text" placeholder="Email Address">
                <button>SUBSCRIBE</button>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="blog_summary">
            <h3>@Model.BlogTitle.title</h3>
            <p>@Model.BlogTitle.description
            </p>
        </div>
        <div class="blog_cards">
            @foreach (var card in Model.BlogCards)
           {
               <div class="blog_card">
                <div class="blog_image">
                    <img src="@card.url"
                        alt="image">
                </div>
                <div class="blog_text">
                    <a href="#" class="blog_link">@card.Title</a>
                    <p>@card.description</p>
                </div>
                <a href="#" class="date_link">@card.date</a>
            </div>
           }
        </div>
    </section>
    <section id="slick-carousel">
        <div class="slick-carousel-items">
            @foreach (var item in Model.SlickItems)
           {
               <div class="slick_carousel-item">
                <div class="slick_image">
                    <img src="@item.url"
                        alt="image">
                </div>
                <h2>@item.Description</h2>
                <h6>@item.Name</h6>
                <p>@item.position</p>
            </div>
           }
        </div>
    </section>

